# Flask core
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1

# Database
SQLAlchemy==2.0.37
alembic==1.14.1

# Security
bcrypt==4.2.1

# Production server (optional)
# gunicorn==23.0.0
